@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
}

:root {
    --less-white : #f8f8f8;
    --dark : darkorange;
}


body {
    background-color: #f4f4f4;
}
.center {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-data {
    margin-bottom: 20px;
    max-width: 960px;
    text-align: center;
}
.links-data div {
    padding: 10px 20px;
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;

}

.links-data input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.container {
    max-width: 960px;
    width: 100%;
    height: 95vh;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

iframe {
    width: 100%;
    height: 75%;
    /* max-height: 450px; */
    border: none;
    border-radius: 8px;
    display: none; /* Initially hidden */
}